version: "3"
services:
    app:
        build:
            context: ./
            dockerfile: Dockerfile
        container_name: sutom_app
        volumes:
            - ".:/var/www"
        environment:
            - "DB_HOST=db"
            - "DB_PORT=3306"
        depends_on:
            - db
        networks:
            - dev
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: sutom_phpmyadmin
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
        ports:
            - "8080:80"
        depends_on:
            - db
    db:
        image: mariadb
        container_name: sutom_db
        environment:
            MYSQL_DATABASE: sutom
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        ports:
            - 3307:3307
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - dev
    nginx:
        image: nginx:1.17-alpine
        container_name: sutom-nginx
        restart: unless-stopped
        ports:
            - 8000:80
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d
        networks:
            - dev
networks:
    dev:
        driver: bridge
volumes:
    mysql_data:
