// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-color: rgb(107, 114, 128);
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #000;
$secondary: #cbd5e1;
$success: #ecfdf5;
$light: #f3e8ff;
$border-color: #f1f5f9;


$card-border-color: #e2e8f0;

$card-bg: #fff;
$card-cap-bg: #fff;
$card-color: #334155;

$table-border-color: #e2e8f0;
$table-bg: #fff;