// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.bunny.net/css?family=Inter');
@import url('https://fonts.bunny.net/css?family=Figtree');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



thead {
    color: #94a3b8;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    font-weight: 200 !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}
.action-col{
    width: 130px
}

.action-col .actions-icons {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
}

.with-actions:hover .actions-icons {
    visibility: visible;
    opacity: 1;
}




.badge-agora-admin{
    background-color: black;
    border-radius: 20px;
    font-weight: bold;

}

.badge-agora-vendeur{
    max-width: 15ch;
    border-width: 1px;
    border-style: solid;
    border-color:  hsl(210, 98.8%, 94.0%);
    border-radius: 9999px;
    background-color: hsl(210, 100%, 98.0%);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    color: hsl(206, 100%, 50.0%);
    font-size: 0.75rem;


    
}


.badge-agora-acheteur{
    max-width: 15ch;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(299, 62.0%, 93.8%);
    border-radius: 9999px;
    background-color:hsl(300, 100%, 98.6%);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    color:hsl(299, 62.0%, 51%);
    font-size: 0.75rem;
}

.badge-agora-by{
    max-width: 15ch;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(8, 100%, 94.3%);
    border-radius: 9999px;
    background-color:hsl(8, 100%, 98.4%);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    color:hsl(10, 78.0%, 54.0%);
    font-size: 0.75rem;
}


// Vous pouvez importer les styles Bootstrap si vous ne l'avez pas déjà fait.
// @import "bootstrap/scss/bootstrap";

.form-control{
    border: 1px solid #e2e8f0; // couleur de bordure personnalisée
    border-radius: 0; // coins carrés au lieu des coins arrondis par défaut
    font-size: 16px; // taille de police personnalisée
    padding: 10px; // padding personnalisé
    color: #333; // couleur de texte personnalisée
    background-color: #fff; // couleur de fond personnalisée

    // Modifier l'apparence au focus
    &:focus {
        border-color: #007bff; // couleur de bordure au focus
        outline: none; // supprime le contour par défaut au focus
        box-shadow: none; // ombre personnalisée au focus
    }
}




select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='none' stroke='currentColor' stroke-width='1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>    <path stroke-linecap='round'   stroke-linejoin='round' d='M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>  </svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 8px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}


label,input[type="file"]{
    color: #7c8693;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    font-weight: 500 !important;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.no-padding{
    padding:0 !important;
}

.card-img-top{
    object-fit: cover; /* Redimensionne l'image pour remplir complètement le conteneur */
    object-position: center;
    height: 300px;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 0px; 
}

